<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.pkj.mapper.PartyFeePaymentMapper">

    <resultMap id="BaseResultMap" type="com.it.pkj.domain.PartyFeePayment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="memberId" column="member_id" jdbcType="INTEGER"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="paymentAmount" column="payment_amount" jdbcType="DECIMAL"/>
            <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
            <result property="paymentStatus" column="payment_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,payment_time,
        payment_amount,payment_method,payment_status
    </sql>
</mapper>
