<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.pkj.mapper.PartyMemberMapper">

    <resultMap id="BaseResultMap" type="com.it.pkj.domain.PartyMember">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="joinPartyTime" column="join_party_time" jdbcType="DATE"/>
            <result property="provinceId" column="province_id" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="organizationType" column="organization_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        age,join_party_time,province_id,
        phone,email,organization_type
    </sql>
</mapper>
